.contact-screen-container {
    width: 100%;
    height: 95vh;
    background-color: var(--black-20);
    position: relative;
}

.contact-content-container {
    position: absolute;
    background-image: linear-gradient(var(--black-20) 15%, transparent 50%);
    width: 100%;
    height: 100%;
    top: 0;

}

.contact-titles {
    position: relative;
    margin: auto;
    padding-top: 24px;
    display: flex;
    align-items: baseline;
    padding: 12px 24px 0 24px;
}

.contact-main-title {
    margin: 0;
    margin-top: 30px;
    color: var(--white);
    font-weight: 600;
    font-size: 2em;
    text-shadow: 0px 0px 10px var(--black-75);
    z-index: 1;
}

.contact-background-title {
    position: absolute;
    display: block;
    margin: 0;
    font-size: max(3.6em);
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 0.3px var(--yellow);
}

.contact-information-title {
    padding: 12px 24px 0 24px;
    color: var(--yellow);
    font-weight: 200;
    font-size: 1.2em;
}

.contact-email, .contact-phone {
    padding: 0px 24px 0 24px;
    color: var(--white);
    font-weight: 200;
    margin: 0;
}

.contact-socials-container {
    display: flex;
    flex-direction: row;
    width: 50vw;
    padding: 5px 24px 0 15px;
}
.contact-social-icon {
    color: var(--white);
    text-decoration: none;
    padding: 15px;
    font-size: 1.2em;
}

.input-container {
    display: flex;
    flex-direction: column;
    padding: 24px 24px 0 24px;
}

.input-container label {
    color: var(--white);
    font-weight: 200;
    font-size: 1.2em;
}

.input-container input {
    height: 24px;
    background-color: #20202040;
    backdrop-filter: blur(5px);
    border: none;
    border-bottom: 1px solid var(--yellow);
    font-size: 1.1em;
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    padding: 5px 10px;
    color: var(--white);

}

.contact-message {
    background-color: #20202040;
    backdrop-filter: blur(5px);
    border: none;
    border-bottom: 1px solid var(--yellow);
    color: var(--white);
    font-size: 1.1em;
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    padding: 5px 10px;
}

#contact-submit {
    display: flex;
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
    padding: 6px 12px;
    font-size: 1.4em;
    margin-left: auto;
    transition: 0.3s ease;
    font-weight: 100;
    margin-right: 24px;
    margin-top: 15px;
}
  
#contact-submit:hover {
    background-color: var(--white);
    color: var(--dark-gray);
    transition: 0.3s ease;
    cursor: pointer;
}

.icon-contact {
    padding-top: 3px;
    padding-left: 6px;
}